<!--<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Menu</p>
    <button (click)="onClickBtnSez(0)" mat-raised-button>Sezione Tavoli</button><br>
    <button (click)="onClickBtnSez(1)" mat-raised-button>Sezione Cucina</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <app-sezione-tavoli *ngIf="showSezioneTavoli"> </app-sezione-tavoli>
    <app-sezione-cucina *ngIf="showSezioneCucina"> </app-sezione-cucina>
  </div>

</mat-drawer-container>-->
<p> home funziona</p>
