<div class="wrapper">
  <h2 mat-dialog-title>Aggiungi Comanda al tavolo {{tavolo.numeroTavolo}}</h2>

  <div *ngFor="let categoria of categorie" class="aggiunti">
    <h4 >-{{categoria}}:</h4>
    <p *ngFor="let element of menuElements">
      <button mat-stroked-button *ngIf="element.categoria == categoria" (click)="addElement(element)">{{element.nome}}</button>
    </p>
  </div>

  <div class="aggiunti">
    <h1>Aggiunti:</h1>
    <div *ngFor="let e of elementiDaAggiungere; index as i">
      <button mat-button (click)="rimuoviElemento(i)">{{e.nome}}<mat-icon>delete</mat-icon></button>
    </div>
  </div>

  <div class="aggiunti">
    <button class ="btn" mat-raised-button mat-dialog-close>Annulla</button>
    <button class ="btn" mat-raised-button mat-dialog-close color="primary" (click)="creaComanda()" [disabled]="elementiDaAggiungere.length == 0">Conferma</button>
  </div>

</div>
