<div class="wrapper">
  <h2 mat-dialog-title>Aggiungi Comanda al tavolo {{idTavolo}}</h2>

  <mat-list role="list">
    <mat-list-item *ngFor="let element of menuElements" role="listitem">
      <button mat-stroked-button (click)="addElement(element)">{{element.nome}} - {{element.categoria}}</button>
    </mat-list-item>
  </mat-list>


  <p *ngFor="let e of elementiDaAggiungere">
    {{e.nome}}
  </p>

  <button mat-raised-button mat-dialog-close>Annulla</button>
  <button mat-raised-button mat-dialog-close color="primary" type="submit" [disabled]="elementiDaAggiungere.length == 0">Conferma</button>

</div>
