<div class="wrapper" *ngIf="!vistaTavolo; else profiloTavolo">
  <h1>TAVOLI</h1>
  <mat-card class="card" *ngFor="let tavolo of getTavoli()">
    <mat-card-header>
      <mat-card-title>Numero: {{tavolo.numero}}</mat-card-title>
      <mat-card-subtitle>Persone: {{tavolo.persone}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button (click)="getComandaByTavolo(tavolo.id)">Vedi Comanda</button>
    </mat-card-actions>
  </mat-card>
  <button mat-flat-button (click)="openDialogAddTavolo()">Aggiungi Tavolo</button>
</div>

<ng-template #profiloTavolo class="wrapper">
  <p>profilo del tavolo con tutte le comande</p>
  <button mat-flat-button (click)="vistaTavolo = false">Indietro</button>
</ng-template>
