<div class="wrapper">
  <form #menuElementForm="ngForm" (ngSubmit)="onSubmit(menuElementForm)" >

    <h2 *ngIf="tipoOperazione == 0" mat-dialog-title>Aggiungi Elemento del Menu</h2>
    <h2 *ngIf="tipoOperazione == 1" mat-dialog-title>Modifica: {{idElement}}</h2>

    <div mat-dialog-content>

      <mat-form-field appearance="fill">
        <mat-label>Nome:</mat-label>
        <input matInput type="text" name="nome" ngModel required>
      </mat-form-field> <br>

      <mat-form-field appearance="fill">
        <mat-label>Descrizione:</mat-label>
        <input matInput type="text" name="descrizione" ngModel required>
      </mat-form-field> <br>

      <mat-form-field>
        <mat-label>Categoria:</mat-label>
        <mat-select required ngModel name="categoria">
          <mat-option *ngFor="let cat of categorie" value="{{cat}}">{{cat}}</mat-option>
        </mat-select>
      </mat-form-field> <br>

      <mat-form-field appearance="fill">
        <mat-label>Prezzo:</mat-label>
        <span matPrefix>&euro;</span>
        <input matInput type="number" name="prezzo" ngModel required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button routerLink="/menu">Annulla</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!menuElementForm.valid">Conferma</button>
    </div>

  </form>
</div>
