<div>
  <ul class="navbar">
    <li><a routerLink="profile" [routerLinkActive]="'active'">Profile</a></li>
    <li><a routerLink="sezione-tavoli" [routerLinkActive]="'active'">Sezione Tavoli</a></li>
    <li><a routerLink="sezione-cucina" [routerLinkActive]="'active'">Sezione Cucina</a></li>
    <li><a routerLink="sezione-bar" [routerLinkActive]="'active'">Sezione Bar</a></li>
    <li><a routerLink="menu" [routerLinkActive]="'active'">Menu</a></li>
    <li><a (click)="onClickLogout()">Logout</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>
