.wrapper {
  text-align: center;
}

.tabs {
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  margin: 1em;
}

a :last-child{
  color: red;
}

.active-link {
  background-color: #4388d1;
}

