<div class="wrapper">
  <h1 class="item">TAVOLI</h1>
  <mat-card class="card" *ngFor="let tavolo of tavoli">
    <mat-card-header>
      <mat-card-title>Numero: {{tavolo.numeroTavolo}}</mat-card-title>
      <mat-card-subtitle>Persone: {{tavolo.numeroPersone}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button routerLink="/tavolo/{{tavolo.id}}">Vedi Comande</button>
      <button mat-flat-button (click)="eliminaTavolo(tavolo.id)"><mat-icon>delete</mat-icon></button>
      <!--<button mat-flat-button>Modifica</button>-->
    </mat-card-actions>
  </mat-card>
  <button class="item" mat-flat-button (click)="openDialogAddTavolo()">Aggiungi Tavolo</button>
</div>





