<form #loginForm="ngForm" class="login-form" (ngSubmit)="onSubmit(loginForm)">

  <div class="title">
    <h1>LOG-IN PAGE</h1>
  </div>

  <mat-form-field class="login-full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" ngModel required email> <!--[formControl]="email"-->
    <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
  </mat-form-field>

  <mat-form-field class="login-full-width">
    <mat-label>Password</mat-label>
    <input matInput name="password" [type]="hide ? 'password' : 'text'" ngModel required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-action-list>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LOGIN</button><br><br>
      <a routerLink="/registrazione/ristorante">Sei un nuovo ristorante? Registrati</a><br>
      <a routerLink="/registrazione/utente">Sei un nuovo dipendente? Registrati</a>
  </mat-action-list>

</form>
