<body>
  <div *ngIf="!isLoggedIn">
    <app-login></app-login> <!-- TODO vedi come fare login-->
  </div>

  <div *ngIf="isLoggedIn">
    <ul class="navbar" *ngIf="isLoggedIn">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="sezione-tavoli">Sezione Tavoli</a></li>
      <li><a routerLink="sezione-cucina">Sezione Cucina</a></li>
      <li><a routerLink="sezione-bar">Sezione Bar</a></li>
      <li><a routerLink="login" (click)="onClickLogout()">Logout</a></li> <!-- TODO vedi come fare logout-->
    </ul>
    <router-outlet></router-outlet>
  </div>

  <!--
  <div class="footer">
    <p>Cameo Beach, All rights reserved</p>
    <p><a href="mailto:cameoBeach@gmail.com">cameoBeach@gmail.com</a></p>
    <div class="footerIcon">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook-f"></i></a>
    </div>
  </div>-->

</body>
